#outputTable {
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
}
#outputTable th, #outputTable td {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 250px;
    white-space: normal;
}
#buttonContainer {
    margin: 15px 0;
}
#buttonContainer button {
    background-color: #0dcaf0;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
}
